body {
    margin:auto;
    width:1024px;
    padding:10px;
    background-color:#f4f2f2;
    font-size:14px;
    font-family:Verdana;
}

html { 
    background-color: #ebebeb;
}

table {
    border: 1px solid;
}

th { 
    font-size: 0.8em;
}

.objective {
    font-style: italic;
    font-size: 0.8em;
}

h2 {
    font-variant: small-caps;
}

h4 { 
    margin-bottom: 5px;
}

.objective+ul { 
    padding-left: 20px;
    margin-top: 0;
    margin-left: 0;
    font-style: italic;
}

hr { 
    width: 40%;
    color: lightgray;
}

.evaltext0 { 
    margin-left: 0.5em;
    padding-left: 0.5em;
    border-left: 3px solid black;
}

.evaltext1 { 
    margin-left: 1em;
    padding-left: 0.5em;
    border-left: 3px solid red;
}

.evaltext2 { 
    margin-left: 1em;
    padding-left: 0.5em;
    border-left: 3px solid orange;
}

.evaltext3, .evaltext4, .evaltext5 { 
    margin-left: 1em;
    padding-left: 0.5em;
    border-left: 3px solid green;
}

.remarque, li span {
    text-decoration: underline;     
}