body {
    margin:auto;
    width:1024px;
    padding:10px;
    background-color:#f4f2f2;
    font-size:14px;
    font-family:Verdana;

    /*counter-reset: section;*/
}

/*
h2::before {
    counter-increment: section;                 
    content: counter(section, upper-latin) " - ";
}
*/

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}


aside > p {
    margin: .5rem;
}

html { 
    background-color: #ebebeb;
}

table {
   border: 1px solid;
   border-spacing: 0;
}

th {
    text-align: center;
    border-bottom: 1px solid black;
 }

td, th {
    padding: 3px 1em 3px 1em;
}

tr:nth-child(2n)  {
    background-color: rgb(236, 236, 236);
}

.objective {
    font-style: italic;
    font-size: 0.8em;
}

h2 {
    font-variant: small-caps;
}

h4 { 
    margin-bottom: 5px;
}

.objective+ul { 
    padding-left: 20px;
    margin-top: 0;
    margin-left: 0;
    font-style: italic;
}

hr { 
    width: 40%;
    color: lightgray;
}

.evaltext0, .evaltext1, .evaltext2, .evaltext3, .evaltext4, .evaltext5 { 
    margin-left: 1em;
    padding-left: 0.5em;
}
.evaltext0 { 
    border-left: 3px solid black;
}

.evaltext1 { 
    border-left: 3px solid red;
}

.evaltext2 { 
    border-left: 3px solid orange;
}

.evaltext3, .evaltext4, .evaltext5 { 
    border-left: 3px solid green;
}

.remarque, li span {
    text-decoration: underline;     
}

.warning {
    background-color: rgb(202, 252, 252);
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;
    min-width: 20em;
}

.todo {
    background-color: #e9fd8d;
    color: black;
    max-width: 60em;
    min-width: 20em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: inset 5px 0 5px -5px #e05d06;
}
